[DEFAULT]
directURL   = https://files.example.com/
sftpURL     = example.com
sftpUser    = admin
sftpPass    = admin
sftpPrivateKeyPath = C:/Users/Username/.ssh/id_rsa
sftpPort    = 22
sftpFolder  = videos/
wantedFiles = .mkv,.avi,.mp4

alwaysDeleteCache = True